In [76]:
import pandas as pd
import numpy as np

In [77]:
yt_data = pd.read_csv("USvideos_cc50.csv")
yt_data[:3]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,state,lat,lon,geometry
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,Utah,39.419220,-111.950684,POINT (-111.950684 39.41922)
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Nevada,39.876019,-117.224121,POINT (-117.224121 39.876019)
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Delaware,39.000000,-75.500000,POINT (-75.5 39)

In [78]:
#Cantidad de filas en yt_data
print(len(yt_data))

40949

In [79]:
#Dataset sin data duplicada
yt_data_u = yt_data.drop_duplicates()
print(len(yt_data_u))

40948

In [80]:
#Ambos codigos nos muestran que no hay ningun valor NULL o ""
yt_data_u[yt_data_u == "NULL"].sum(skipna=True)
yt_data_u[yt_data_u == ""].sum(skipna=True)

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id               0.0
publish_time                0
tags                        0
views                     0.0
likes                     0.0
dislikes                  0.0
comment_count             0.0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description                 0
state                       0
lat                       0.0
lon                       0.0
geometry                    0
dtype: object

In [81]:
#Eliminar entradas donde "video_id" es faltante
yt_data_u = yt_data_u[yt_data["video_id"].notna()]
print(len(yt_data_u))
#No hay ninguna fila que no tenga un id correcto

40948

C:\Users\Usuario\AppData\Local\Temp/ipykernel_2812/1294224563.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  yt_data_u = yt_data_u[yt_data["video_id"].notna()]

In [82]:
#Verificar que todos los id sean de 11 caracteres
for i in yt_data_u["video_id"]:
    if(len(i)!=11):
        print("Error")
#No hay ningun error en video_id

In [83]:
#Buscamos los datos que sean NaN
yt_data_u.isna().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               570
state                       0
lat                         0
lon                         0
geometry                    0
dtype: int64

In [84]:
#Encontramos que la descripcion presenta 570 entradas faltantes
#Al ser texto y no presentar informacion relevante para la investigacion,
#decidimos eliminarla
yt_data_u["description"] = np.NAN
yt_data_u["description"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
40944   NaN
40945   NaN
40946   NaN
40947   NaN
40948   NaN
Name: description, Length: 40948, dtype: float64

In [98]:
#Creating a dataset to read the category types
categories = pd.read_json("US_category_id.json")
categories["items"].to_json("categories.json")
items = pd.read_json("categories.json",orient="index")
items.head()
items["snippet"].to_json("items.json")
snippet = pd.read_json("items.json",orient='index')
snippet.head()
df2 = pd.DataFrame()
df2["id"] = items["id"]
df2["title"] = snippet["title"]
df2

    id                  title
0    1       Film & Animation
1    2       Autos & Vehicles
2   10                  Music
3   15         Pets & Animals
4   17                 Sports
5   18           Short Movies
6   19        Travel & Events
7   20                 Gaming
8   21          Videoblogging
9   22         People & Blogs
10  23                 Comedy
11  24          Entertainment
12  25        News & Politics
13  26          Howto & Style
14  27              Education
15  28   Science & Technology
16  29  Nonprofits & Activism
17  30                 Movies
18  31        Anime/Animation
19  32       Action/Adventure
20  33               Classics
21  34                 Comedy
22  35            Documentary
23  36                  Drama
24  37                 Family
25  38                Foreign
26  39                 Horror
27  40         Sci-Fi/Fantasy
28  41               Thriller
29  42                 Shorts
30  43                  Shows
31  44               Trailers